.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}
.logo-image {
    width: 150px;
    height: 122px;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    margin-bottom:0px;
}
#navbar-collapse {
    margin-top: 150px;
}
.navbar-default {
    background-color: @white;
    border-color: @white;
}
.navbar-default .navbar-nav > li > a {
    color: @navy;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #ff7f50;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: @navy;
}
.hr-coral {
    margin-top: 0;
    margin-bottom: 0;
    border-width: 5px;
    border-color: @coral;
}
.hr-navy {
    margin-top: 0;
    margin-bottom: 0;
    border-width: 5px;
    border-color: @navy;
}
#dave_and_elise {
    background-image: url("/media/img/cover-min.jpg");
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center center;
}
.shadow-dark {
    /* text-shadow: 3px 3px 0px #000; */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.cover-text {
    color: @coral;
}