@media(max-width:767px) {
    .dave_and_elise1 {
        height: 300px;
    }
    .the_springs {
        height: 300px;
    }
    .hotel {
        height: 300px;
    }
    .dave_and_elise2 {
        height: 300px;
    }
    .cover-text {
        margin-top: 8em;
    }
    .cover-text > h1 {
        font-size: 40px;
    }
    .cover-text > h2 {
        font-size: 30px;
    }
    .navbar {
        min-height: 150px;
    }  
}
@media(min-width:768px) {
    .dave_and_elise1 {
        height: 350px;
    }
    .the_springs {
        height: 350px;
    }
    .hotel {
        height: 350px;
    }
    .dave_and_elise2 {
        height: 350px;
    }
    .cover-text {
        margin-top: 8em;
    }
    .cover-text > h1 {
        font-size: 50px;
    }
    .cover-text > h2 {
        font-size: 40px;
    }
    .navbar {
        min-height: 150px;
    }  
}
@media (min-width:992px) {
    .dave_and_elise1 {
        height: 400px;
    }
    .the_springs {
        height: 400px;
    }
    .hotel {
        height: 400px;
    }
    .dave_and_elise2 {
        height: 400px;
    }
    .cover-text {
        margin-top: 10em;
    }
    .cover-text > h1 {
        font-size: 60px;
    }
    .cover-text > h2 {
        font-size: 48px;
    }
    .navbar {
        min-height: 200px;
    }  
}
@media (min-width:1200px) {
    .dave_and_elise1 {
        height: 500px;
    }
    .the_springs {
        height: 500px;
    }
    .hotel {
        height: 500px;
    }
    .dave_and_elise2 {
        height: 500px;
    }
    .cover-text {
        margin-top: 15em;
    }
    .cover-text > h1 {
        font-size: 70px;
    }
    .cover-text > h2 {
        font-size: 58px;
    }
    .navbar {
        min-height: 200px;
    }    
}